/* body {background-color: black;}; */
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');
img {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
}

h1 {
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0px;
    padding-top: 0;
    margin: 15px;
    letter-spacing: 1em;
    font-size: 174px;
    border-style: double;
    border: white;
    background-size: 75%;
}

h2 {
    letter-spacing: 0.75em;
    text-align: center;
    box-shadow: 3px;
    text-shadow: 2px 2px white;
}

h3 {font-family: 'Oxygen', sans-serif;

}

p {
    font-family: 'Oxygen', sans-serif;

    background-color: black;
    color: white;
    padding: 1%;
    border: thin;
    border-style: groove;
    border-color: white;
    font-size: 20px;
    margin-block-end: 2px;
    text-align: center;
}
#clientsTag{
    font-size: 48px; letter-spacing: 2em;
}
#contactText{
    text-align: center; font-weight: bold; font-size: 48px;
}
#Who {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 24%;
    padding: 10px;
    border-style: solid;
    border: 2px black;
}

#Services {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 24%;
    padding: 10px;
    border-style: solid;
    border: 2px black;
}

#Portfolio {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 24%;
    padding: 10px;
    border-style: solid;
    border: 2px black;
}

#Contact {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 24%;
    padding: 10px;
    border-style: solid;
    border: 2px black;
}

.card{
    width: 100%;
}

#offerings{
    width:90%;
}
#content {
    width: 16rem;
}

#concept {
    width: 16rem;
}

#branding {
    width: 16rem;
}

#silver {
    width: 16rem;
}

#gold {
    width: 16rem;
}

#platinum {
    width: 16rem;
}
#white {
    width: 66%;
    float: right;
    height: auto;
    display: disabled;
}

.textCards {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.contactForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px black;
}

.jumbotron {
    background-color: white;
    color: black;
}

#goDaddy {
    right: 0;
}


@media screen and (max-width:980px) {
    h1 {
        border: 10px;
        font-size: 50px;
        width: 100%;
        background-color: black;
        color: white;
    }

    body {
        width: 100%;
        background-color: black;
        color: white
    }

    #Who {
        width: 100%;
        text-align: center;
    }

    #Services {
        width: 100%;
        text-align: center;
    }

    #Portfolio {
        width: 100%;
        text-align: center;
    }

    #Contact {
        width: 100%;
        text-align: center;
    }

    .textCards {
        width: 100%;
        padding: 5px;
        margin: 5px;
    }

}

#content {
    width: 400px;
   
    margin: 10px;
}

#concept {
    width: 400px;
   
    margin: 10px;
}

#branding {
    width: 400px;
   
    margin: 10px;
}

#silver {
    width: 400px;
   
    margin: 10px;
}

#gold {
    width: 400px;
   
    margin: 10px;
}

#platinum {
    width: 400px;
   
    margin: 10px;
}